<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div style="margin: auto; width: 400px; margin-top: 100px; text-align: center">

    <h1 style="text-align: center; color: black" class="display-1">MENU</h1></br>
    <a href="/list"class="badge rounded-pill text-bg-dark">Wyświetl wszystkie zadania do zrobienia</a></br>
    <a href="/archive"class="badge rounded-pill text-bg-dark">Wyświetl wszystkie zarchiwizowane zadania</a></br>
    <a href="/add" class="badge rounded-pill text-bg-dark">Dodaj nowe zadanie</a></br>


</div>

</body>
</html>