<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div style="margin: auto; width: 1300px; margin-top: 100px">

    <h2 style="text-align: center" class="display-1">Lista zadań</h2>
    <a href="/" style="color: indianred"><-Powrót do strony głównej</a>
    <span> </span>

    <div class="nav nav-tabs" style="display: inline-block" th:each="category : ${T(pl.javastart.tasks.Category).values()}">

        <!--           th:if="${#strings.contains(${requestURI}, 'list')}"-->
        <a class="nav-link active" style="color: black"
           th:href="|/list?category=${category.name()}|" th:text="${category.description}">Rodzaj</a>

        <!--           th:if="${#strings.contains(${requestURI}, 'archive')}"-->
        <a class="nav-link active" style="color: black"
           th:href="|/archive?category=${category.name()}|" th:text="${category.description}">Rodzaj</a>




        <span> </span>
    </div>
    <table class="table table-dark table-striped">
        <thead>
        <tr style="text-align: center">
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Kategoria</th>
            <th>Data rozpoczęcia</th>
            <th>Data zakończenia</th>
            <th>Priorytet</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr style="text-align: center"  th:each="task: ${taskList}">
            <td th:text="${task.title}"></td>
            <td th:text="${task.description}"></td>
            <td th:text="${task.category.description}"></td>
            <td th:text="${task.startTime.toString().replace('T', ' ')}"></td>
            <td>
                <a th:if="${task.completionTime == null}" th:href="|/list?deleteid=${task.id}|" style="color: red;" >Zakończ</a>
                <span th:unless="${task.completionTime == null}" th:text="${task.completionTime.toString().replace('T', ' ')}" style="color: green;" >Zakończ</span>
            </td>
            <td th:text="${task.priority}"></td>
            <td> <a th:href="|/edit?id=${task.id}|" >Edytuj</a> </td>

        </tr>
        </tbody>

    </table>

</div>
</body>
</html>